// Mixins Here

.flex-layout(@justify, @align) {
	display: flex;
	justify-content: @justify;
	align-content: @align;
}

.spacing(@m, @p) {
	margin: @m;
	padding: @p;
}

.custom-btn(@color, @bg-color) {
	margin: 5%;
	padding: 3%;
	text-align: center;
	width: 150px;
	height: 30px;
	border-radius: 5%;
	color: @color;
	background-color: @bg-color;
}
